<%- include("template/cabecera", {tituloWeb:'Index'})%>
<div class="text-center">  
    <h2><%=titulo%></h2> 
    <p>Bienvenido a universo Star Wars</p> 
    <p>Aquí podras encontrar listados una amplia cantidad de personajes, además de poder añadir aquellos que no se encuentren aún en los registros.</p>
</div>  
<%- include("template/footer")%>